<app-carousel></app-carousel>

<!-- feature ads -->
<div class="features-ads bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="single-features-ads first">
          <img src="assets/f-delivery.png" alt="" />
          <h4>Free shipping</h4>
          <p>
            Fusce urna quam, euismod sit amet mollis quis, vestibulum quis
            velit. Vesti bulum mal esuada aliquet libero viverra cursus.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-features-ads second">
          <img src="assets/coin.png" alt="" />
          <h4>100% Money back</h4>
          <p>
            Urna quam, euismod sit amet mollis quis, vestibulum quis velit.
            Vesti bulum mal esuada aliquet libero viverra cursus.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-features-ads">
          <img src="assets/chat.png" alt="" />
          <h4>Online support 24/7</h4>
          <p>
            Urna quam, euismod sit amet mollis quis, vestibulum quis velit.
            Vesti bulum mal esuada aliquet libero viverra cursus.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- dispaly Category  -->
<div class="container-fluid py-4 alert alert-info">
  <div class="container">
    <h3 class="mb-4"><strong>Top Categories</strong></h3>
    <div class="row">
      <div
        class="setcursor col-sm-3 p-3 bg-white text-center border"
        *ngFor="let c of categories"
      >
        <h4><i class="fa fa-gg-circle" aria-hidden="true"></i>{{ c.categoryName }}</h4>
      </div>
    </div>
  </div>
</div>
<!-- Diplay category end -->

<!-- Popular products -->
<div class="container pb-4">
  <h3 class="py-3"><strong>Popular Product</strong></h3>
  <div class="row justify-content-between">
    <!-- card start -->
    <div class="col-md-3 p-2" *ngFor="let p of products | slice:0:4;">
      <div class="card">
        <img
          class="card-img-top"
          style="height: 200px;"
          src="https://ae01.alicdn.com/kf/Hf5195cf5e8314adca5f18ffa7e578d99g/Light-Men-Walking-font-b-Shoes-b-font-font-b-Men-s-b-font-Trainers-Sport.jpg_220x220xz.jpg_.webp"
          alt="Card image cap"
        />
        <div class="px-3 mt-2">
          <h5 class="m-0">{{ p.productName }}</h5>
          <p class="badge badge-warning">{{ p.brandName }}</p>
          <p class="mx-2 text-center my-0 d-inline-block">
            <i class="fa fa-star text-warning" aria-hidden="true"></i> {{ p.overAllRating }}
          </p>
        </div>
        <div class="bottom-wrap px-3 mb-2">
          <a href="" class="btn btn-sm btn-primary float-right"
            ><i class="fa fa-shopping-cart"></i
          ></a>
          <div class="price-wrap h5">
            <span class="price-new">Rs. {{ p.price }}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- card end -->
  </div>
</div>
<!-- pouplar product end -->

<!-- ads start -->
<div class="">
  <img
    style="max-height: 400px; max-width: 100%;"
    src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2020/4/24/2fc9ef53-0aab-49a7-869a-3a93e9505e3d1587726261377-Desktop-Green--1-.jpg"
    alt=""
  />
</div>
<!-- ads end -->

<!-- Electronic products -->
<div class="container pb-4 mt-4">
  <h3 class="py-3"><strong>Electronic Product</strong></h3>
  <div class="row justify-content-between">
    <!-- card start -->
    <div class="col-md-3 p-2">
      <div class="card">
        <img
          class="card-img-top"
          style="height: 200px;"
          src="https://ae01.alicdn.com/kf/Hf5195cf5e8314adca5f18ffa7e578d99g/Light-Men-Walking-font-b-Shoes-b-font-font-b-Men-s-b-font-Trainers-Sport.jpg_220x220xz.jpg_.webp"
          alt="Card image cap"
        />
        <div class="px-3 mt-2">
          <h5 class="m-0">Men Walking Shoes</h5>
          <p class="badge badge-warning">Niki</p>
          <p class="mx-2 text-center my-0 d-inline-block">
            <i class="fa fa-star text-warning" aria-hidden="true"></i> 4.5
          </p>
        </div>
        <div class="bottom-wrap px-3 mb-2">
          <a href="" class="btn btn-sm btn-primary float-right"
            ><i class="fa fa-shopping-cart"></i
          ></a>
          <div class="price-wrap h5">
            <span class="price-new">Rs. 1280</span>
          </div>
        </div>
      </div>
    </div>
    <!-- card end -->

    <div class="col-md-3 p-2">
      <div class="card">
        <img
          class="card-img-top"
          style="height: 200px;"
          src="https://ae01.alicdn.com/kf/Hf5195cf5e8314adca5f18ffa7e578d99g/Light-Men-Walking-font-b-Shoes-b-font-font-b-Men-s-b-font-Trainers-Sport.jpg_220x220xz.jpg_.webp"
          alt="Card image cap"
        />
        <div class="px-3 mt-2">
          <h5 class="m-0">Men Walking Shoes</h5>
          <p class="badge badge-warning">Niki</p>
          <p class="mx-2 text-center my-0 d-inline-block">
            <i class="fa fa-star text-warning" aria-hidden="true"></i> 4.5
          </p>
        </div>
        <div class="bottom-wrap px-3 mb-2">
          <a href="" class="btn btn-sm btn-primary float-right"
            ><i class="fa fa-shopping-cart"></i
          ></a>
          <div class="price-wrap h5">
            <span class="price-new">Rs. 1280</span>
          </div>
        </div>
      </div>
    </div>
    <!-- card end -->

    <div class="col-md-3 p-2">
      <div class="card">
        <img
          class="card-img-top"
          style="height: 200px;"
          src="https://ae01.alicdn.com/kf/Hf5195cf5e8314adca5f18ffa7e578d99g/Light-Men-Walking-font-b-Shoes-b-font-font-b-Men-s-b-font-Trainers-Sport.jpg_220x220xz.jpg_.webp"
          alt="Card image cap"
        />
        <div class="px-3 mt-2">
          <h5 class="m-0">Men Walking Shoes</h5>
          <p class="badge badge-warning">Niki</p>
          <p class="mx-2 text-center my-0 d-inline-block">
            <i class="fa fa-star text-warning" aria-hidden="true"></i> 4.5
          </p>
        </div>
        <div class="bottom-wrap px-3 mb-2">
          <a href="" class="btn btn-sm btn-primary float-right"
            ><i class="fa fa-shopping-cart"></i
          ></a>
          <div class="price-wrap h5">
            <span class="price-new">Rs. 1280</span>
          </div>
        </div>
      </div>
    </div>
    <!-- card end -->

    <div class="col-md-3 p-2">
      <div class="card">
        <img
          class="card-img-top"
          style="height: 200px;"
          src="https://ae01.alicdn.com/kf/Hf5195cf5e8314adca5f18ffa7e578d99g/Light-Men-Walking-font-b-Shoes-b-font-font-b-Men-s-b-font-Trainers-Sport.jpg_220x220xz.jpg_.webp"
          alt="Card image cap"
        />
        <div class="px-3 mt-2">
          <h5 class="m-0">Men Walking Shoes</h5>
          <p class="badge badge-warning">Niki</p>
          <p class="mx-2 text-center my-0 d-inline-block">
            <i class="fa fa-star text-warning" aria-hidden="true"></i> 4.5
          </p>
        </div>
        <div class="bottom-wrap px-3 mb-2">
          <a href="" class="btn btn-sm btn-primary float-right"
            ><i class="fa fa-shopping-cart"></i
          ></a>
          <div class="price-wrap h5">
            <span class="price-new">Rs. 1280</span>
          </div>
        </div>
      </div>
    </div>
    <!-- card end -->

    <div class="col-md-3 p-2">
      <div class="card">
        <img
          class="card-img-top"
          style="height: 200px;"
          src="https://ae01.alicdn.com/kf/Hf5195cf5e8314adca5f18ffa7e578d99g/Light-Men-Walking-font-b-Shoes-b-font-font-b-Men-s-b-font-Trainers-Sport.jpg_220x220xz.jpg_.webp"
          alt="Card image cap"
        />
        <div class="px-3 mt-2">
          <h5 class="m-0">Men Walking Shoes</h5>
          <p class="badge badge-warning">Niki</p>
          <p class="mx-2 text-center my-0 d-inline-block">
            <i class="fa fa-star text-warning" aria-hidden="true"></i> 4.5
          </p>
        </div>
        <div class="bottom-wrap px-3 mb-2">
          <a href="" class="btn btn-sm btn-primary float-right"
            ><i class="fa fa-shopping-cart"></i
          ></a>
          <div class="price-wrap h5">
            <span class="price-new">Rs. 1280</span>
          </div>
        </div>
      </div>
    </div>
    <!-- card end -->

    <div class="col-md-3 p-2">
      <div class="card">
        <img
          class="card-img-top"
          style="height: 200px;"
          src="https://ae01.alicdn.com/kf/Hf5195cf5e8314adca5f18ffa7e578d99g/Light-Men-Walking-font-b-Shoes-b-font-font-b-Men-s-b-font-Trainers-Sport.jpg_220x220xz.jpg_.webp"
          alt="Card image cap"
        />
        <div class="px-3 mt-2">
          <h5 class="m-0">Men Walking Shoes</h5>
          <p class="badge badge-warning">Niki</p>
          <p class="mx-2 text-center my-0 d-inline-block">
            <i class="fa fa-star text-warning" aria-hidden="true"></i> 4.5
          </p>
        </div>
        <div class="bottom-wrap px-3 mb-2">
          <a href="" class="btn btn-sm btn-primary float-right"
            ><i class="fa fa-shopping-cart"></i
          ></a>
          <div class="price-wrap h5">
            <span class="price-new">Rs. 1280</span>
          </div>
        </div>
      </div>
    </div>
    <!-- card end -->

    <div class="col-md-3 p-2">
      <div class="card">
        <img
          class="card-img-top"
          style="height: 200px;"
          src="https://ae01.alicdn.com/kf/Hf5195cf5e8314adca5f18ffa7e578d99g/Light-Men-Walking-font-b-Shoes-b-font-font-b-Men-s-b-font-Trainers-Sport.jpg_220x220xz.jpg_.webp"
          alt="Card image cap"
        />
        <div class="px-3 mt-2">
          <h5 class="m-0">Men Walking Shoes</h5>
          <p class="badge badge-warning">Niki</p>
          <p class="mx-2 text-center my-0 d-inline-block">
            <i class="fa fa-star text-warning" aria-hidden="true"></i> 4.5
          </p>
        </div>
        <div class="bottom-wrap px-3 mb-2">
          <a href="" class="btn btn-sm btn-primary float-right"
            ><i class="fa fa-shopping-cart"></i
          ></a>
          <div class="price-wrap h5">
            <span class="price-new">Rs. 1280</span>
          </div>
        </div>
      </div>
    </div>
    <!-- card end -->

    <div class="col-md-3 p-2">
      <div class="card">
        <img
          class="card-img-top"
          style="height: 200px;"
          src="https://ae01.alicdn.com/kf/Hf5195cf5e8314adca5f18ffa7e578d99g/Light-Men-Walking-font-b-Shoes-b-font-font-b-Men-s-b-font-Trainers-Sport.jpg_220x220xz.jpg_.webp"
          alt="Card image cap"
        />
        <div class="px-3 mt-2">
          <h5 class="m-0">Men Walking Shoes</h5>
          <p class="badge badge-warning">Niki</p>
          <p class="mx-2 text-center my-0 d-inline-block">
            <i class="fa fa-star text-warning" aria-hidden="true"></i> 4.5
          </p>
        </div>
        <div class="bottom-wrap px-3 mb-2">
          <a href="" class="btn btn-sm btn-primary float-right"
            ><i class="fa fa-shopping-cart"></i
          ></a>
          <div class="price-wrap h5">
            <span class="price-new">Rs. 1280</span>
          </div>
        </div>
      </div>
    </div>
    <!-- card end -->
  </div>
</div>
<!-- pouplar product end -->
