<div class="container p-4 mt-3 bg-white">
  <div class="row" *ngIf="product">
    <div class="col-md-6 order-2">
      <div class="img-hover-zoom">
        <img src="{{ product.imageUrl }}" alt="" />
      </div>

      <hr />

      <div class="review">
        <h4 class="text-dark mt-3"><strong>Customer Reviews</strong></h4>
        <!-- review start -->
        <div class="alert alert-info" *ngIf="errorReviewMessage">
          {{ errorReviewMessage }}
        </div>
        <div class="border rounded px-3 pt-3" *ngFor="let pr of productReview">
          <h6 class="">{{ pr.user.firstName }}</h6>
          <span class="float-right">{{ pr.reviewDt }}</span>
          <h6>
            <i class="fa fa-star text-danger"></i>
            <i class="fa fa-star text-danger"></i>
            <i class="fa fa-star text-danger"></i>
            <i class="fa fa-star text-danger"></i>
            <i class="fa fa-star text-danger"></i>
            {{ pr.rating }}/5
          </h6>
          <p>
            {{ pr.review }}
          </p>
        </div>
        <!-- review end -->
      </div>

      <!-- end review column -->

      <div class="alert alert-info" *ngIf="!userInfo">
        You Cannot give review without account. Please Go and
        <a routerLink="/user/signup">Create a new Account</a> Or
        <a routerLink="/user/signin">Login</a>
      </div>
      <div class="review-form p-4 bg-light mt-3 rounded" *ngIf="userInfo">
        <form #reviewForm="ngForm" (ngSubmit)="addReview()">
          <div class="form-group">
            <label for="exampleInputEmail1">Mesage</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter review message"
              name="review"
              ngModel
              #review="ngModel"
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Select Rating</label>
            <select
              class="form-control form-control-sm"
              id="exampleFormControlSelect1"
              name="rating"
              ngModel
              #rating="ngModel"
              required
            >
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <button type="submit" class="btn btn-danger">Send Review</button>
        </form>
      </div>
    </div>

    <div class="col-md-6 mt-sm-3 order-0">
      <div class="badge badge-warning p-1">{{ product.brandName }}</div>
      <div class="d-inline-block ml-2 badge badge-danger p-1">
        {{ product.category.categoryName }}
      </div>
      <h3 class="mt-2">{{ product.productName }}</h3>
      <h6>
        <i class="fa fa-star text-danger"></i>
        <i class="fa fa-star text-danger"></i>
        <i class="fa fa-star text-danger"></i>
        <i class="fa fa-star text-danger"></i>
        <i class="fa fa-star text-danger"></i>
        {{ product.overAllRating > 0 ? product.overAllRating : "N.A" }}/5
      </h6>
      <h3>
        <strong>Rs. {{ product.price }}</strong>
      </h3>
      <div
        class="btn btn-sm"
        [ngClass]="{
          'btn-outline-success': inStock,
          'btn-outline-danger': !inStock
        }"
      >
        {{ inStock ? "In stock" : "Out of Stock" }}
      </div>
      <div class="d-inline-block ml-3">
        Quantity Left
        <span class="badge badge-dark">{{ product.quantity }}</span>
      </div>
      <h6 class="mt-3"><strong>Shipping: Rs 50.42 </strong></h6>
      <p class="text-secondary">
        Estimated Delivery: 5-7 days
      </p>
      <div class="row mt-3">
        <div class="col-md-6">
          <button
            class="btn btn-danger btn-block"
            [disabled]="!inStock"
            (click)="buyNow(product.productId)"
          >
            Buy Now
          </button>
        </div>
        <div class="col-md-6">
          <button
            class="btn btn-warning btn-block"
            [disabled]="!inStock"
            (click)="addToCart(product.productId)"
          >
            Add to Cart
          </button>
        </div>
      </div>
      <h5 class="text-dark mt-3"><strong>Product Decription</strong></h5>
      <p>
        {{ product.productInfo }}
      </p>
      <hr />
      <h5 class="text-dark mt-3"><strong>Product Specificaton</strong></h5>
      <div class="alert alert-info" *ngIf="errorSpecMessage">
        {{ errorSpecMessage }}
      </div>
      <table class="table table-bordered mt-3" *ngIf="productSpec">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
          </tr>
        </thead>

        <tbody *ngFor="let ps of productSpec">
          <tr>
            <th>{{ ps.specName }}</th>
            <td>{{ ps.specValue }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
