<div class="container p-4 bg-white">
  <h4 class="mb-4">
    Showing result for <strong>{{ categoryName }}</strong>
  </h4>
  <div class="row">
    <!-- card start -->
    <div
      class="col-lg-3 col-md-4 col-sm-6 p-2"
      *ngFor="let p of products | slice: 0:4"
      (click)="showProductDetails(p.productId)"
    >
      <div class="card">
        <img
          class="card-img-top vh-25"
          src="https://ae01.alicdn.com/kf/Hf5195cf5e8314adca5f18ffa7e578d99g/Light-Men-Walking-font-b-Shoes-b-font-font-b-Men-s-b-font-Trainers-Sport.jpg_220x220xz.jpg_.webp"
          alt="Card image cap"
        />
        <div class="px-3 mt-2">
          <h5 class="m-0">{{ p.productName }}</h5>
          <p class="badge badge-warning">{{ p.brandName }}</p>
          <p
            class="mx-2 text-center my-0 d-inline-block"
            *ngIf="p.overAllRating > 0"
          >
            <i class="fa fa-star text-warning" aria-hidden="true"></i>
            {{ p.overAllRating }}/5
          </p>
        </div>
        <div class="bottom-wrap px-3 mb-2">
          <a href="" class="btn btn-sm btn-primary float-right"
            ><i class="fa fa-shopping-cart"></i
          ></a>
          <div class="price-wrap h5">
            <span class="price-new">Rs. {{ p.price }}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- card end -->
  </div>
</div>
