<div class="container-fluid bg-light p-0 mb-5">
  <app-header></app-header>
  <app-carousel></app-carousel>

  <!-- dispaly Category  -->
  <div class="container-fluid py-4 alert alert-info">
    <div class="container">
      <h2 class="mb-4">Top Categories</h2>
      <div class="row">
        <div class="col-sm-3 p-3 bg-white text-center border">
          <h4><i class="fa fa-gg-circle" aria-hidden="true"></i> Electronic</h4>
        </div>
        <div class="col-sm-3 p-3 bg-white text-center border">
          <h4><i class="fa fa-gg-circle" aria-hidden="true"></i> Electronic</h4>
        </div>
        <div class="col-sm-3 p-3 bg-white text-center border">
          <h4><i class="fa fa-gg-circle" aria-hidden="true"></i> Electronic</h4>
        </div>
        <div class="col-sm-3 p-3 bg-white text-center border">
          <h4><i class="fa fa-gg-circle" aria-hidden="true"></i> Electronic</h4>
        </div>
        <div class="col-sm-3 p-3 bg-white text-center border">
          <h4><i class="fa fa-gg-circle" aria-hidden="true"></i> Electronic</h4>
        </div>
        <div class="col-sm-3 p-3 bg-white text-center border">
          <h4><i class="fa fa-gg-circle" aria-hidden="true"></i> Electronic</h4>
        </div>
        <div class="col-sm-3 p-3 bg-white text-center border">
          <h4><i class="fa fa-gg-circle" aria-hidden="true"></i> Electronic</h4>
        </div>
      </div>
    </div>
  </div>
  <!-- Diplay category end -->

  <!-- Popular products -->
  <div class="container pb-4">
    <h3 class="py-3">Popular Product</h3>
    <div class="row justify-content-between">
      <div class="card" style="width: 16rem;">
        <img
          class="card-img-top"
          style="height: 200px;"
          src="https://ae01.alicdn.com/kf/Hf5195cf5e8314adca5f18ffa7e578d99g/Light-Men-Walking-font-b-Shoes-b-font-font-b-Men-s-b-font-Trainers-Sport.jpg_220x220xz.jpg_.webp"
          alt="Card image cap"
        />
        <div class="p-3">
          <h5 class="m-0">Men Walking Shoes</h5>
          <p class="m-0">{{ "999.99" | currency: "INR" }}</p>
          <p class="m-0">
            <i class="fa fa-star text-warning" aria-hidden="true"></i> 4.5
          </p>
          <a href="#" class="btn btn-sm btn-primary">Add To Cart</a>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img
          class="card-img-top"
          style="height: 200px;"
          src="https://ae01.alicdn.com/kf/Hf5195cf5e8314adca5f18ffa7e578d99g/Light-Men-Walking-font-b-Shoes-b-font-font-b-Men-s-b-font-Trainers-Sport.jpg_220x220xz.jpg_.webp"
          alt="Card image cap"
        />
        <div class="p-3">
          <h5 class="m-0">Men Walking Shoes</h5>
          <p class="m-0">{{ "999.99" | currency: "INR" }}</p>
          <p class="m-0">
            <i class="fa fa-star text-warning" aria-hidden="true"></i> 4.5
          </p>
          <a href="#" class="btn btn-sm btn-primary">Add To Cart</a>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img
          class="card-img-top"
          style="height: 200px;"
          src="https://ae01.alicdn.com/kf/Hf5195cf5e8314adca5f18ffa7e578d99g/Light-Men-Walking-font-b-Shoes-b-font-font-b-Men-s-b-font-Trainers-Sport.jpg_220x220xz.jpg_.webp"
          alt="Card image cap"
        />
        <div class="p-3">
          <h5 class="m-0">Men Walking Shoes</h5>
          <p class="m-0">{{ "999.99" | currency: "INR" }}</p>
          <p class="m-0">
            <i class="fa fa-star text-warning" aria-hidden="true"></i> 4.5
          </p>
          <a href="#" class="btn btn-sm btn-primary">Add To Cart</a>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img
          class="card-img-top"
          style="height: 200px;"
          src="https://ae01.alicdn.com/kf/Hf5195cf5e8314adca5f18ffa7e578d99g/Light-Men-Walking-font-b-Shoes-b-font-font-b-Men-s-b-font-Trainers-Sport.jpg_220x220xz.jpg_.webp"
          alt="Card image cap"
        />
        <div class="p-3">
          <h5 class="m-0">Men Walking Shoes</h5>
          <p class="m-0">{{ "999.99" | currency: "INR" }}</p>
          <p class="m-0">
            <i class="fa fa-star text-warning" aria-hidden="true"></i> 4.5
          </p>
          <a href="#" class="btn btn-sm btn-primary">Add To Cart</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row">
      <div class="col-auto mb-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <div class="col-auto mb-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <div class="col-auto mb-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <div class="col-auto mb-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <div class="col-auto mb-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <div class="col-auto mb-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <div class="col-auto mb-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
