/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

a {
  cursor: pointer;
}

.box {
  transition: box-shadow 0.3s;
}
.box:hover {
  box-shadow: 5px 10px 13px rgba(189, 186, 186, 0.6);
  /* background-color: black; */
}
