<div class="container-fluid bg-light p-0">
  <app-header></app-header>
  <app-carousel></app-carousel>

  <!-- dispaly Category  -->
  <div class="container-fluid py-4 alert alert-info">
    <div class="container">
      <h2 class="mb-4">Top Categories</h2>
      <div class="row">
        <div class="col-sm-3 p-3 bg-white text-center border">
          <h4><i class="fa fa-gg-circle" aria-hidden="true"></i> Electronic</h4>
        </div>
        <div class="col-sm-3 p-3 bg-white text-center border">
          <h4><i class="fa fa-gg-circle" aria-hidden="true"></i> Electronic</h4>
        </div>
        <div class="col-sm-3 p-3 bg-white text-center border">
          <h4><i class="fa fa-gg-circle" aria-hidden="true"></i> Electronic</h4>
        </div>
        <div class="col-sm-3 p-3 bg-white text-center border">
          <h4><i class="fa fa-gg-circle" aria-hidden="true"></i> Electronic</h4>
        </div>
        <div class="col-sm-3 p-3 bg-white text-center border">
          <h4><i class="fa fa-gg-circle" aria-hidden="true"></i> Electronic</h4>
        </div>
        <div class="col-sm-3 p-3 bg-white text-center border">
          <h4><i class="fa fa-gg-circle" aria-hidden="true"></i> Electronic</h4>
        </div>
        <div class="col-sm-3 p-3 bg-white text-center border">
          <h4><i class="fa fa-gg-circle" aria-hidden="true"></i> Electronic</h4>
        </div>
      </div>
    </div>
  </div>
  <!-- Diplay category end -->

  <!-- Popular products -->
  <div class="container pb-4">
    <h3 class="py-3">Popular Product</h3>
    <div class="row justify-content-between">
      <!-- card start -->
      <div class="col-md-3 p-2">
        <div class="card">
          <img
            class="card-img-top"
            style="height: 200px;"
            src="https://ae01.alicdn.com/kf/Hf5195cf5e8314adca5f18ffa7e578d99g/Light-Men-Walking-font-b-Shoes-b-font-font-b-Men-s-b-font-Trainers-Sport.jpg_220x220xz.jpg_.webp"
            alt="Card image cap"
          />
          <div class="px-3 mt-2">
            <h5 class="m-0">Men Walking Shoes</h5>
            <p class="badge badge-warning">Niki</p>
            <p class="mx-2 text-center my-0 d-inline-block">
              <i class="fa fa-star text-warning" aria-hidden="true"></i> 4.5
            </p>
          </div>
          <div class="bottom-wrap px-3 mb-2">
            <a href="" class="btn btn-sm btn-primary float-right"
              ><i class="fa fa-shopping-cart"></i
            ></a>
            <div class="price-wrap h5">
              <span class="price-new">Rs. 1280</span>
            </div>
          </div>
        </div>
      </div>
      <!-- card end -->

      <div class="col-md-3 p-2">
        <div class="card">
          <img
            class="card-img-top"
            style="height: 200px;"
            src="https://ae01.alicdn.com/kf/Hf5195cf5e8314adca5f18ffa7e578d99g/Light-Men-Walking-font-b-Shoes-b-font-font-b-Men-s-b-font-Trainers-Sport.jpg_220x220xz.jpg_.webp"
            alt="Card image cap"
          />
          <div class="px-3 mt-2">
            <h5 class="m-0">Men Walking Shoes</h5>
            <p class="badge badge-warning">Niki</p>
            <p class="mx-2 text-center my-0 d-inline-block">
              <i class="fa fa-star text-warning" aria-hidden="true"></i> 4.5
            </p>
          </div>
          <div class="bottom-wrap px-3 mb-2">
            <a href="" class="btn btn-sm btn-primary float-right"
              ><i class="fa fa-shopping-cart"></i
            ></a>
            <div class="price-wrap h5">
              <span class="price-new">Rs. 1280</span>
            </div>
          </div>
        </div>
      </div>
      <!-- card end -->

      <div class="col-md-3 p-2">
        <div class="card">
          <img
            class="card-img-top"
            style="height: 200px;"
            src="https://ae01.alicdn.com/kf/Hf5195cf5e8314adca5f18ffa7e578d99g/Light-Men-Walking-font-b-Shoes-b-font-font-b-Men-s-b-font-Trainers-Sport.jpg_220x220xz.jpg_.webp"
            alt="Card image cap"
          />
          <div class="px-3 mt-2">
            <h5 class="m-0">Men Walking Shoes</h5>
            <p class="badge badge-warning">Niki</p>
            <p class="mx-2 text-center my-0 d-inline-block">
              <i class="fa fa-star text-warning" aria-hidden="true"></i> 4.5
            </p>
          </div>
          <div class="bottom-wrap px-3 mb-2">
            <a href="" class="btn btn-sm btn-primary float-right"
              ><i class="fa fa-shopping-cart"></i
            ></a>
            <div class="price-wrap h5">
              <span class="price-new">Rs. 1280</span>
            </div>
          </div>
        </div>
      </div>
      <!-- card end -->

      <div class="col-md-3 p-2">
        <div class="card">
          <img
            class="card-img-top"
            style="height: 200px;"
            src="https://ae01.alicdn.com/kf/Hf5195cf5e8314adca5f18ffa7e578d99g/Light-Men-Walking-font-b-Shoes-b-font-font-b-Men-s-b-font-Trainers-Sport.jpg_220x220xz.jpg_.webp"
            alt="Card image cap"
          />
          <div class="px-3 mt-2">
            <h5 class="m-0">Men Walking Shoes</h5>
            <p class="badge badge-warning">Niki</p>
            <p class="mx-2 text-center my-0 d-inline-block">
              <i class="fa fa-star text-warning" aria-hidden="true"></i> 4.5
            </p>
          </div>
          <div class="bottom-wrap px-3 mb-2">
            <a href="" class="btn btn-sm btn-primary float-right"
              ><i class="fa fa-shopping-cart"></i
            ></a>
            <div class="price-wrap h5">
              <span class="price-new">Rs. 1280</span>
            </div>
          </div>
        </div>
      </div>
      <!-- card end -->
    </div>
  </div>
  <!-- pouplar product end -->

  <!-- ads start -->
  <div class="">
    <img
      style="max-height: 400px;"
      src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2020/4/24/2fc9ef53-0aab-49a7-869a-3a93e9505e3d1587726261377-Desktop-Green--1-.jpg"
      alt=""
    />
  </div>
  <!-- ads end -->

  <!-- Electronic products -->
  <div class="container pb-4">
    <h3 class="py-3">Popular Electronic Product</h3>
    <div class="row justify-content-between">
      <!-- card start -->
      <div class="col-md-3 p-2">
        <div class="card">
          <img
            class="card-img-top"
            style="height: 200px;"
            src="https://ae01.alicdn.com/kf/Hf5195cf5e8314adca5f18ffa7e578d99g/Light-Men-Walking-font-b-Shoes-b-font-font-b-Men-s-b-font-Trainers-Sport.jpg_220x220xz.jpg_.webp"
            alt="Card image cap"
          />
          <div class="px-3 mt-2">
            <h5 class="m-0">Men Walking Shoes</h5>
            <p class="badge badge-warning">Niki</p>
            <p class="mx-2 text-center my-0 d-inline-block">
              <i class="fa fa-star text-warning" aria-hidden="true"></i> 4.5
            </p>
          </div>
          <div class="bottom-wrap px-3 mb-2">
            <a href="" class="btn btn-sm btn-primary float-right"
              ><i class="fa fa-shopping-cart"></i
            ></a>
            <div class="price-wrap h5">
              <span class="price-new">Rs. 1280</span>
            </div>
          </div>
        </div>
      </div>
      <!-- card end -->

      <div class="col-md-3 p-2">
        <div class="card">
          <img
            class="card-img-top"
            style="height: 200px;"
            src="https://ae01.alicdn.com/kf/Hf5195cf5e8314adca5f18ffa7e578d99g/Light-Men-Walking-font-b-Shoes-b-font-font-b-Men-s-b-font-Trainers-Sport.jpg_220x220xz.jpg_.webp"
            alt="Card image cap"
          />
          <div class="px-3 mt-2">
            <h5 class="m-0">Men Walking Shoes</h5>
            <p class="badge badge-warning">Niki</p>
            <p class="mx-2 text-center my-0 d-inline-block">
              <i class="fa fa-star text-warning" aria-hidden="true"></i> 4.5
            </p>
          </div>
          <div class="bottom-wrap px-3 mb-2">
            <a href="" class="btn btn-sm btn-primary float-right"
              ><i class="fa fa-shopping-cart"></i
            ></a>
            <div class="price-wrap h5">
              <span class="price-new">Rs. 1280</span>
            </div>
          </div>
        </div>
      </div>
      <!-- card end -->

      <div class="col-md-3 p-2">
        <div class="card">
          <img
            class="card-img-top"
            style="height: 200px;"
            src="https://ae01.alicdn.com/kf/Hf5195cf5e8314adca5f18ffa7e578d99g/Light-Men-Walking-font-b-Shoes-b-font-font-b-Men-s-b-font-Trainers-Sport.jpg_220x220xz.jpg_.webp"
            alt="Card image cap"
          />
          <div class="px-3 mt-2">
            <h5 class="m-0">Men Walking Shoes</h5>
            <p class="badge badge-warning">Niki</p>
            <p class="mx-2 text-center my-0 d-inline-block">
              <i class="fa fa-star text-warning" aria-hidden="true"></i> 4.5
            </p>
          </div>
          <div class="bottom-wrap px-3 mb-2">
            <a href="" class="btn btn-sm btn-primary float-right"
              ><i class="fa fa-shopping-cart"></i
            ></a>
            <div class="price-wrap h5">
              <span class="price-new">Rs. 1280</span>
            </div>
          </div>
        </div>
      </div>
      <!-- card end -->

      <div class="col-md-3 p-2">
        <div class="card">
          <img
            class="card-img-top"
            style="height: 200px;"
            src="https://ae01.alicdn.com/kf/Hf5195cf5e8314adca5f18ffa7e578d99g/Light-Men-Walking-font-b-Shoes-b-font-font-b-Men-s-b-font-Trainers-Sport.jpg_220x220xz.jpg_.webp"
            alt="Card image cap"
          />
          <div class="px-3 mt-2">
            <h5 class="m-0">Men Walking Shoes</h5>
            <p class="badge badge-warning">Niki</p>
            <p class="mx-2 text-center my-0 d-inline-block">
              <i class="fa fa-star text-warning" aria-hidden="true"></i> 4.5
            </p>
          </div>
          <div class="bottom-wrap px-3 mb-2">
            <a href="" class="btn btn-sm btn-primary float-right"
              ><i class="fa fa-shopping-cart"></i
            ></a>
            <div class="price-wrap h5">
              <span class="price-new">Rs. 1280</span>
            </div>
          </div>
        </div>
      </div>
      <!-- card end -->

      <div class="col-md-3 p-2">
        <div class="card">
          <img
            class="card-img-top"
            style="height: 200px;"
            src="https://ae01.alicdn.com/kf/Hf5195cf5e8314adca5f18ffa7e578d99g/Light-Men-Walking-font-b-Shoes-b-font-font-b-Men-s-b-font-Trainers-Sport.jpg_220x220xz.jpg_.webp"
            alt="Card image cap"
          />
          <div class="px-3 mt-2">
            <h5 class="m-0">Men Walking Shoes</h5>
            <p class="badge badge-warning">Niki</p>
            <p class="mx-2 text-center my-0 d-inline-block">
              <i class="fa fa-star text-warning" aria-hidden="true"></i> 4.5
            </p>
          </div>
          <div class="bottom-wrap px-3 mb-2">
            <a href="" class="btn btn-sm btn-primary float-right"
              ><i class="fa fa-shopping-cart"></i
            ></a>
            <div class="price-wrap h5">
              <span class="price-new">Rs. 1280</span>
            </div>
          </div>
        </div>
      </div>
      <!-- card end -->

      <div class="col-md-3 p-2">
        <div class="card">
          <img
            class="card-img-top"
            style="height: 200px;"
            src="https://ae01.alicdn.com/kf/Hf5195cf5e8314adca5f18ffa7e578d99g/Light-Men-Walking-font-b-Shoes-b-font-font-b-Men-s-b-font-Trainers-Sport.jpg_220x220xz.jpg_.webp"
            alt="Card image cap"
          />
          <div class="px-3 mt-2">
            <h5 class="m-0">Men Walking Shoes</h5>
            <p class="badge badge-warning">Niki</p>
            <p class="mx-2 text-center my-0 d-inline-block">
              <i class="fa fa-star text-warning" aria-hidden="true"></i> 4.5
            </p>
          </div>
          <div class="bottom-wrap px-3 mb-2">
            <a href="" class="btn btn-sm btn-primary float-right"
              ><i class="fa fa-shopping-cart"></i
            ></a>
            <div class="price-wrap h5">
              <span class="price-new">Rs. 1280</span>
            </div>
          </div>
        </div>
      </div>
      <!-- card end -->

      <div class="col-md-3 p-2">
        <div class="card">
          <img
            class="card-img-top"
            style="height: 200px;"
            src="https://ae01.alicdn.com/kf/Hf5195cf5e8314adca5f18ffa7e578d99g/Light-Men-Walking-font-b-Shoes-b-font-font-b-Men-s-b-font-Trainers-Sport.jpg_220x220xz.jpg_.webp"
            alt="Card image cap"
          />
          <div class="px-3 mt-2">
            <h5 class="m-0">Men Walking Shoes</h5>
            <p class="badge badge-warning">Niki</p>
            <p class="mx-2 text-center my-0 d-inline-block">
              <i class="fa fa-star text-warning" aria-hidden="true"></i> 4.5
            </p>
          </div>
          <div class="bottom-wrap px-3 mb-2">
            <a href="" class="btn btn-sm btn-primary float-right"
              ><i class="fa fa-shopping-cart"></i
            ></a>
            <div class="price-wrap h5">
              <span class="price-new">Rs. 1280</span>
            </div>
          </div>
        </div>
      </div>
      <!-- card end -->

      <div class="col-md-3 p-2">
        <div class="card">
          <img
            class="card-img-top"
            style="height: 200px;"
            src="https://ae01.alicdn.com/kf/Hf5195cf5e8314adca5f18ffa7e578d99g/Light-Men-Walking-font-b-Shoes-b-font-font-b-Men-s-b-font-Trainers-Sport.jpg_220x220xz.jpg_.webp"
            alt="Card image cap"
          />
          <div class="px-3 mt-2">
            <h5 class="m-0">Men Walking Shoes</h5>
            <p class="badge badge-warning">Niki</p>
            <p class="mx-2 text-center my-0 d-inline-block">
              <i class="fa fa-star text-warning" aria-hidden="true"></i> 4.5
            </p>
          </div>
          <div class="bottom-wrap px-3 mb-2">
            <a href="" class="btn btn-sm btn-primary float-right"
              ><i class="fa fa-shopping-cart"></i
            ></a>
            <div class="price-wrap h5">
              <span class="price-new">Rs. 1280</span>
            </div>
          </div>
        </div>
      </div>
      <!-- card end -->
    </div>
  </div>
  <!-- pouplar product end -->

  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <img src="assets/logo.png" alt="" />
          <h6 class="mt-3">About</h6>
          <p class="text-justify">
            Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative to
            help the upcoming programmers with the code. Scanfcode focuses on
            providing the most efficient code or snippets as the code wants to
          </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a>Shirt</a></li>
            <li><a>Electronic</a></li>
            <li><a>Pent</a></li>
            <li><a>Trimmer</a></li>
            <li><a>Shoes</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a>About Us</a></li>
            <li><a>Contact Us</a></li>
            <li><a>Contribute</a></li>
            <li><a>Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <hr />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">
            Copyright &copy; 2020 All Rights Reserved by
            <a href="#">BestStore</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li>
              <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
            </li>
            <li>
              <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
