<div class="container-fluid bg-dark">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-md-4">
      <div class="row justify-content-center mb-4">
        <img class="" src="assets/logo.png" routerLink="/home" alt="logo" />
      </div>

      <div class="col-md-11 bg-white p-4 rounded shadow m-auto">
        <h3>Create Account</h3>
        <p class="text-center alert alert-danger" *ngIf="error">{{ error }}</p>
        <form #f="ngForm" (ngSubmit)="signUp()">
          <div class="form-group mt-3">
            <label for="exampleInputEmail1">First Name</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter first name"
              name="firstName"
              ngModel
              #fname="ngModel"
              required
            />
            <div class="text-danger" *ngIf="!fname.valid && fname.touched">
              Please enter the your first name
            </div>
          </div>
          <div class="form-group mt-3">
            <label for="exampleInputEmail1">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter last name"
              name="lastName"
              ngModel
              #lname="ngModel"
              required
            />
            <div class="text-danger" *ngIf="!lname.valid && lname.touched">
              Please enter the your last name
            </div>
          </div>
          <div class="form-group mt-3">
            <label for="exampleInputEmail1">Email address</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter email"
              name="email"
              ngModel
              #email="ngModel"
              required
            />
            <div class="text-danger" *ngIf="!email.valid && email.touched">
              Please enter the your email address
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Password"
              name="password"
              ngModel
              #passwd="ngModel"
              required
            />
            <div class="text-danger" *ngIf="!passwd.valid && passwd.touched">
              Please enter the your password
            </div>
            <div
              class="text-danger"
              *ngIf="passwd.value.length < 8 && passwd.touched"
            >
              Password Length must be greater than eigth
            </div>
          </div>
          <button
            type="submit"
            [disabled]="!f.valid"
            class="btn btn-block btn-warning text-dark mt-3"
          >
            Sign Up
          </button>
        </form>
        <p class="mt-3 mb-0 p-0">
          Already have an account?<a routerLink="/user/signin"> Sign in</a>
        </p>
      </div>
    </div>
  </div>
</div>
